@page "/JoinGame"

@using static BlazorHub.Pages.NewGame
@using CAH_Blazor.Models

@inject State state;
@inject NavigationManager nm;

<h1>Select a game to join</h1>


@if (state.GamesToJoin.Count < 1)
{
    <h2>There are currently no games, please create one</h2>
    <NavLink href="newgame"><RadzenButton Text="Create new game"></RadzenButton></NavLink>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col">
                <RadzenCard>
                    <RadzenDataList WrapItems="true" AllowPaging="true" Data="@games" TItem="Game" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                        <Template Context="game">
                            <RadzenTemplateForm Data="@game" Submit="@((Game args) => { Submit(args); })">
                                <RadzenCard Style="width: 100%; padding: 0; overflow: hidden;">
                                    <div class="container">
                                        <div >
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <h5 class="mb-0">Game</h5>
                                                        <p class="mb-sm-2 mb-lg-0">@(game.Name)</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h5 class="mb-0">Max players</h5>
                                                        <p class="mb-sm-2 mb-lg-0">@(game.MaxPlayers)</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h5 class="mb-0">Password</h5>
                                                        <RadzenPassword Placeholder="Enter password..." Change=@(args => OnChange(args,game)) Class="w-100" />
                                                    </div>
                                                    <div class="col-md-3 p-3">
                                                        <RadzenButton Disabled="!_passwordIsCorrect" Text="Join" Class="w-100" ButtonType="ButtonType.Submit" />
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </RadzenCard>
                            </RadzenTemplateForm>
                        </Template>
                    </RadzenDataList>
                </RadzenCard>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Id { get; set; }

    IEnumerable<Game> games;


    private bool _passwordIsCorrect;

    protected override void OnInitialized()
    {
        games = state.GamesToJoin.ToList();
    }

    void OnChange(string value, Game game)
    {
        if (value == game.Password)
        {
            _passwordIsCorrect = true;
            this.StateHasChanged();
        }
    }

    private void Submit(Game args)
    {
        if (_passwordIsCorrect)
        {
            nm.NavigateTo("/activegame/" + args.Name + "/" + args.Id, true);
        }
    }

}
